* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex; /* Alinea las imágenes en fila */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
}

.image-box {
    width: 25%; /* Cada caja ocupa 25% del ancho de la pantalla */
    overflow: hidden;
    position: relative; /* Para posicionar el texto sobre la imagen */
}

.image-box a {
    display: block;
    height: 100%; /* El enlace ocupa toda la altura del div */
}

.image-box img {
    width: 100%; /* Imagen ocupa todo el ancho */
    height: 100%; /* Imagen ocupa toda la altura */
    object-fit: cover; /* Asegura que la imagen mantenga proporción */
    filter: grayscale(100%); /* Blanco y negro por defecto */
    transition: filter 0.3s ease, transform 0.3s ease; /* Transición suave */
}

.image-box:hover img {
    filter: grayscale(0%); /* Cambia a color al hacer hover */
    transform: scale(1.10); /* Se agranda un poco al hacer hover */
}

.image-text {
    position: absolute; /* Posiciona el texto sobre la imagen */
    top: 75%; /* Ajusta la posición desde la parte superior al 75% */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta el texto al centro */
    color: white; /* Color del texto */
    font-size: 24px; /* Aumenta el tamaño de la fuente */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Sombra negra más intensa para mejorar la visibilidad */
    text-align: center; /* Centra el texto */

}
